{% extends "retroboard/base.html" %}
{% load static %}

{% block head %}
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script src="{% static 'retroboard/actions.js' %}"></script>
{% endblock %}

{% block title %}
    Retro - Action Items
{% endblock %}

{% block body %}

    <h1>Open Action Items</h1>
    <ul id="incomplete-list">
	    {% for action in incomplete %}
	    <li class="list-group-item bg-primary" id="li{{action.id}}" style="word-wrap:break-word">
        	{{ action.note }} - <b>{{action.get_submitter}}</b>
        	<button type="button" id="{{action.id}}" class="btn btn-success btn-sm float-right complete-btn col-1">
	        	Complete
    		</button>
	    </li>	    
		{% endfor %}
	</ul>
	<br>
	<h1>Completed Action Items</h1>
	<ul id="complete-list">
	    {% for action in complete %}
	    <li class="list-group-item bg-success">
	        {{ action.note }} - <b>{{action.get_submitter}}</b>
	    </li>
		{% endfor %}
	</ul>
    

{% endblock %}