{% extends "retroboard/base.html" %}

{% block title %}
    Retro - Home
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="card-columns">
                {% for positive in positives %}
	    			<div class="card bg-success positive">
	        			<b> {{positive.get_submitter}}</b>: {{positive.note}}
	    			</div>
				{% endfor %}
            </div>
        </div>
        <div class="col-4">
            <div class="card-columns">
            	{% for delta in deltas %}
	    			<div class="card bg-warning delta">
	        			<b> {{delta.get_submitter}}</b>:{{delta.note}}
	    			</div>
				{% endfor %}
            </div>
        </div>
        <div class="col-4">
            <div class="card-columns">
                {% for action in actions %}
	    			<div class="card bg-primary action">
	        			<b> {{action.get_submitter}}</b>:{{action.note}}
	    			</div>
				{% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
    	<a class="btn btn-secondary btn-lg btn-block" href="{% url 'export' %}">Export</a>
    </div>
</div>

{% endblock %}