{% extends "retroboard/base.html" %}

{% block title %}
    Retro - Home
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h2 class="text-success text-center">Positives</h2>
            {% for positive in positives %}                    
                <div class="card bg-success positive mb-3">
                    <div class="card-header">{{positive.get_submitter}}</div>
                    <div class="card-body">
                        <p class="card-text"> {{positive.note}} </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-4">
            <h2 class="text-warning text-center">Deltas</h2>
            {% for delta in deltas %}                    
                <div class="card bg-warning delta mb-3">
                    <div class="card-header">{{delta.get_submitter}}</div>
                    <div class="card-body">
                        <p class="card-text"> {{delta.note}} </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-4">
            <h2 class="text-primary text-center">Action Items</h2>
            {% for action in actions %}                    
    			<div class="card bg-primary action text-white mb-3">
                    <div class="card-header">{{action.get_submitter}}</div>
                    <div class="card-body">
        			    <p class="card-text"> {{action.note}} </p>
                    </div>
    			</div>
			{% endfor %}
        </div>
    </div>
    <div class="row">
    	<a class="btn btn-secondary btn-lg btn-block" href="{% url 'export' %}">Export</a>
    </div>
    <br>
</div>

{% endblock %}